<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <head>
      <link rel= "stylesheet" type= "text/css" href="style.css">
      <meta charset= "utf-8">
      <script>

      </script>
  
    <style>
        
    </style>
    </head>
  <body>
 
      <fieldset>
        <legend>Curriculo</legend>
        <form action="curriculo.php" method="POST">
          Nome completo:<input type="text" name="nome" maxlength= "20" minlength="5" placeholder="Nome completo" required>
          <br>
          <br>
          senha:<input type="password" maxlength="20" minlength="8" placeholder="sua senha" required>
          <br>
          <br>
          <input type="submit" value="Enviar">

      </form>
      </fieldset>
    
  </body>

  
</html>
