<!DOCTYPE html>
<html lang="pt-br">
  <html>
    <head>
      <link rel= "stylesheet" type= "text/css" href="style.css">
      <meta charset= "utf-8">
      <script>

      </script>
  
    <style>
        
    </style>
    </head>
  <body>
 
      <fieldset>
        <legend>Login</legend>
        <form action="curriculo.php" method="POST">
          Usuário:<input type="text" Usuário="nome" maxlength= "20" minlength="5" placeholder="Nome de Usuário" required>
          <br>
          <br>
          senha:<input type="password" maxlength="20" minlength="8" placeholder="sua senha" required>
          <br>
          <br>
          <input type="submit" value="Enviar">

      </form>
      </fieldset>
      <fieldset>
        l<legend>cadastrar curriculo
            Nome Completo:
            Telefone:<intinput type="number">
            E-Mail:
            Endereço:
        </legend>
      </fieldset>
  </body>
